:root {
    --main-bg-color-light: #eae5db; 
    --main-bg-color-white: #ffffff; 

    --green-highlight-1: #c8cebc; 
    --green-highlight-2: #9ab59a; 
    --green-highlight-3: #6b9c79; 
    --green-highlight-4: #306544; 

    --orange-highlight-1: #ded4bb; 
    --orange-highlight-2: #d5c38a; 
    --orange-highlight-3: #b69d4b; 
    --orange-highlight-4: #98751d; 

    --red-highlight-1: #e9c1b4; 
    --red-highlight-2: #d5a193; 
    --red-highlight-3: #cb6e5e; 
    --red-highlight-4: #b53c27; 

    --blue-highlight-1: #a3c5ca; 
    --blue-highlight-2: #95bac4; 
    --blue-highlight-3: #6bb1cc; 

}

body {
    background: url(images/lines_0_light.png) repeat;
    /* background-color: var(--main-bg-color-light); */
}

.form {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    font-weight: 500;
    margin: 5%;
}

.intro {
    /* position: sticky; */
    background-color: var(--blue-highlight-2);
    padding: 30px;
    /* top: 10px; */

    h1 {
        font-size: 50px;
    }
}

.question-block {
    margin: 10px 0px;
}

.click-question {
    font-size: 28px;
    

    .question {
        position: sticky;
        top: calc(-50px + 3rem); 
        max-height: 50%;
        background-color: var(--orange-highlight-2);
        margin: 10px 0px;
        padding: 5px 20px;

        p {
            padding: 10px 60px 10px 30px;
        }
        
    }

    .question:hover {
        color: var(--orange-highlight-4); 
        background-color: var(--orange-highlight-3);
        font-weight: 1000;
        letter-spacing: 0px;
        /* text-decoration: underline; */
    }

    .answer {
        font-size: 25px;
        /* font-size: calc(aspect-ratio * 5px); */
        background-color: var(--orange-highlight-1);
        margin: 0% auto;
        max-width: 1000px;
        padding: 10px 0px;

        p {
            background-color: var(--main-bg-color-light);
            padding: 10px 50px 10px 50px;
            margin: 50px 20px;
            /* margin-top: 100px;
            margin-bottom: 150px; 
            margin-left: 100px; 
            margin-right: 150px;  */

            
        }

        .references {
            background-color: var(--blue-highlight-1);
            padding: 10px 50px 10px 50px;
            margin: 50px 20px;
        }
    }
}


img {
    width: 90%; 
    margin: 0px 5%;
}

.image-box-horizontal {
    display: flex;
    overflow-x: auto;  /* Add overflow-x for horizontal scrolling if needed */
    white-space: nowrap; /* Prevent wrapping onto multiple lines */
    margin: 50px 0px;

    img {
        width: 70%;
        margin: 15px;
    }
}

figcaption {
    text-align: center;
    font-size: 18px;
}

.footer {
    /* position: ; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    

    .main-footer {
        font-weight: 1000;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        position: fixed;
        bottom: 0px;
        width: 95%;

        /* line-height: 10px; */
        padding: 0px 20px 0px 0px;

        background-color: var(--blue-highlight-3);

        .left-footer {
            text-align: left;
            margin-left: 10px;
        }

        .right-footer {
            text-align: right;
        }
        
    }

    .passive-footer {
        font-size: 15px;
        margin-bottom: 100px;
    }
}



