:root {
    --purple: #e69ddf; 
    --purple-dark: #724e6e; 
}

@font-face {
    font-family: 'Brygada 1918'; 
    src: url('../fonts/Brygada1918-VariableFont_wght.ttf') format('truetype'); 
}

@font-face {
    font-family: "Outfit"; /* Choose a font family name */
    src: url('../fonts/Outfit-VariableFont_wght.ttf') format('truetype'); /* Path to the TTF file */
} 

@font-face {
    font-family: "IBMPlexMono";
    src: url('../fonts/IBMPlexMono-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'EliteMathNew'; 
    src: url('../../fonts/EliteMathNew.ttf') format('truetype'); 
}


body {
    font-family: 'IBMPlexMono';
}

