@import url("/styles.css");

:root {
    --purple: #e69ddf; 
    --purple-dark: #724e6e; 
}



body {
    font-family: 'IBMPlexMono';
    color: white;

    background: fixed;
    background-image: url("home_assets/breaktime.png"); 
    background-size: max(100%, 1000px);

    
}

a, h1 {
    font-family: 'IBMPlexMono';
    font-weight: 900;
    text-decoration: none;
    color: white;

    transition: text-shadow 0.1s ease-in;
    transition: color 0.1s ease-in;
    
}

a {
    font-size: 30px;
}

a:hover {
    color: var(--purple-dark);
    text-shadow: 0 0 7px white;
}

h1 {
    font-size: 42px;
}

.left {
    margin-right: 40%;
}

::selection {
    background-color: var(--purple); 
    color: #ffffff; 
}

