@font-face {
  font-family: 'Brygada 1918'; 
  src: url('../../../fonts/Brygada1918-VariableFont_wght.ttf') format('truetype'); 
}

@font-face {
  font-family: "Outfit"; /* Choose a font family name */
  src: url('../../../fonts/Outfit-VariableFont_wght.ttf') format('truetype'); /* Path to the TTF file */
} 

@font-face {
  font-family: "IBM PLex"; /* Choose a font family name */
  src: url('../../../fonts/IBMPlexMono-Bold.ttf') format('truetype'); /* Path to the TTF file */
} 

body {
  background: oklch(0.99 0 120);
}

.serif {
  font-family: "Brygada 1918";
  font-weight: 600;
}

.sans-serif {
  font-family: "Outfit";
  font-weight: 800;
}

.monospace {
  font-family: "IBM PLex";
}

div {
  font-weight: 400;
}

h1 {
  font-size: 50px;
}

.deck-section {
  background: #dad0d0; 
  margin: 10px;
  
  .main-deck-section {
    background: #ffffff; 
    margin: 10px;
    display: inline-block;
    position: relative; 
  }

  .platter-controls {
    display: inline-block;
  }
}





.palette-canvas-overlay {
  position: absolute; 
}

/* #chroma-canvas-left {
  top: 10px; 
  left: 10px; 
}

#chroma-canvas-right {
  top: 10px; 
  left: 400px;
} */