body {
  background: oklch(0.99 0 120);
}

.deck-section {
  background: #dad0d0; 
  margin: 10px;
  
  .main-deck-section {
    background: #ffffff; 
    margin: 10px;
    display: inline-block;
    position: relative; 
  }

  .platter-controls {
    display: inline-block;
  }
}





.palette-canvas-overlay {
  position: absolute; 
}

/* #chroma-canvas-left {
  top: 10px; 
  left: 10px; 
}

#chroma-canvas-right {
  top: 10px; 
  left: 400px;
} */