@font-face {
  font-family: 'Brygada 1918'; 
  src: url('../../../fonts/Brygada1918-VariableFont_wght.ttf') format('truetype'); 
}

@font-face {
  font-family: "Outfit"; /* Choose a font family name */
  src: url('../../../fonts/Outfit-VariableFont_wght.ttf') format('truetype'); /* Path to the TTF file */
} 

@font-face {
  font-family: "IBM PLex"; /* Choose a font family name */
  src: url('../../../fonts/IBMPlexMono-Bold.ttf') format('truetype'); /* Path to the TTF file */
}

:root {
  --slider-width: 50px; 
  --platter-width: 300px; 
  --platter-height: 400px; 
  --mixer-width: 400px; 
  --mixer-height: 400px;

  
}

body {
  background: oklch(0.99 0 120);
  user-select: none;
}

.serif {
  font-family: "Brygada 1918";
  font-weight: 600;
}

.sans-serif {
  font-family: "Outfit";
  font-weight: 800;
}

.monospace {
  font-family: "IBM PLex";
}

div {
  font-weight: 800;
}

h1 {
  font-size: 50px;
}

span {
  z-index: 1;
}

.colour-block {
  height: 100px;
  width: 400px;
  background: #a29cd6;
  margin: 20px 125px;
}

.deck-section {
  background: #d1d1d1; 
  margin: 10px;
}

#deck-section-top {
  
  
  .palette-blend {
    
    display: grid;
    grid-template-rows: 60px;
    grid-template-columns: 1fr;

    .palette-blend-canvas {
      margin: auto;
      grid-row: 1; 
      grid-column: 1; 

      width: 99%; 
      height: 90%; 
      display: block;
    }
  }

  .palette-block {
    margin: 0px 6px;
    
    div {
      display: inline-block;
      position: relative; 
      height: 100px;
      

      user-select: text;
      /* text-align: center; */
      white-space: pre;

      div {
        padding: 10px 10px;
        position: absolute;
      }

      .left {
        text-align: left;
      }

      .mid {
        position: relative;
        margin: auto;
        left: 37%;
        text-align: center;
      }

      .right {
        right: 0;
        text-align: right;
      }
    }
  }
}


#deck-section-middle {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  
  .main-deck-section {
    background: #ffffff; 
    margin: 10px;
    position: relative; 
    outline: 5px solid white;
    /* outline-offset: 5px; */
  }

  .platter {
    display: grid; 
    position: relative;
    row-gap: 10px;
    column-gap: 10px;
    background: "grey";
    padding: 10px;

    .light-slider {
      display: flex;
      position: relative;
      background: "white";
    }

    .canvas-block {
      position: relative;

      background: "white";
    }

    .chroma-slider {
      display: flex;
      position: relative;
      background: "white";
    }

    
  }

  #platter-left {
    grid-template-rows: var(--slider-width) var(--platter-height) var(--slider-width);
    grid-template-columns: var(--slider-width) var(--platter-width);
    margin-left: auto; 

    .hue-input {
      position: inherit;
      grid-row: 1;
      grid-column: 2;
    }

    .light-slider {
      grid-row: 2;
      grid-column: 1;
    }

    .canvas-block {
      grid-row: 2;
      grid-column: 2;
    }

    .chroma-slider {
      grid-row: 3;
      grid-column: 2;
    }
  }

  #platter-right {
    grid-template-rows: var(--slider-width) var(--platter-height) var(--slider-width);
    grid-template-columns: var(--platter-width) var(--slider-width);
    margin-right: auto;

    .hue-input {
      position: inherit;
      grid-row: 1;
      grid-column: 1;
    }

    .light-slider {
      grid-row: 2;
      grid-column: 2;
    }

    .canvas-block {
      grid-row: 2;
      grid-column: 1;
    }

    .chroma-slider {
      grid-row: 3;
      grid-column: 1;
    }
  }

  .mixer {
    display: flex;
    /* height: 95%;  */
    margin: auto;
    /* margin-left: auto;
    margin-right: auto; */
    /* padding-top: 50px; */

    .overlay {
      left: 0px; 
      top: 0px; 
    }
  }

  .platter-controls {
    display: inline-block;
  }
}

/* .palette-canvas {
  position: relative; 
} */

.overlay {
  position: absolute; 
}

.slider-text {
  font-size: 50px;
}

.label-text {
  color: #a29cd6;
  bottom: 10%;
  left: 10%;
}

.label-text-vertical {
  color: #a29cd6;
  top: 10%;
  right: 10%;
}

.vertical-text {
  writing-mode: vertical-lr;
  text-orientation: sideways;

}





/*
SLIDERS
*/

input {
  z-index: 10;
}

.vertical-slider {
  writing-mode: vertical-rl;
  direction: rtl;
  width: 100%;
}

.horizontal-slider {
  writing-mode: horizontal-tb;
  /* direction: rtl; */
  height: 100%;
  width: 100%;
}

/* #chroma-canvas-left {
  top: 10px; 
  left: 10px; 
}

#chroma-canvas-right {
  top: 10px; 
  left: 400px;
} */