@font-face {
    font-family: 'Playfair Display'; 
    src: url('PlayfairDisplay-VariableFont_wght.ttf'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'Merriweather'; /* Choose a font family name */
    src: url('Merriweather-Regular.ttf'); /* Path to the TTF file */
}

.serif {
    /* font-family: "Playfair Display"; */
    font-family: "Merriweather";
}

.mono {
    font-family: "Ubuntu Mono", monospace;
}

.red-text {
    color: #ff0000; 
    font-weight: bolder;
}

.cosine-rule-section {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1000px 700px 700px;
    gap: 10px;

    .cosine-def {
        grid-column: 1;
        grid-row: 1; 

        padding: 10px;
        background: #e4dcdc;
    }

    .sine-def {
        grid-column: 2;
        grid-row: 1; 

        padding: 10px;
        background: #e4dcdc;
    }

    .triangle-canvas {
        grid-column: 1;
        grid-row: 3; 

        padding: 10px;
        background: #e4dcdc;
    }

    .cosine-control {
        grid-column: 2;
        grid-row: 3; 

        padding: 10px;
        background: #e4dcdc;
    }
    
    .problem-canvas {
        grid-column: 1;
        grid-row: 2; 

        padding: 10px;
        background: #e4dcdc;
    }

    .problem-answer {
        grid-column: 2;
        grid-row: 2; 

        padding: 10px;
        background: #e4dcdc;
    }
}




.math-text { 
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    white-space: pre;
    
}

